<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_SubTask</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aeed8f">  <td>17/09/01 17:42:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSubTaskAdd.AddSubTask(java.util.Hashtable)[pri:1, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@724af044]">AddSubTask</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>17/09/01 17:43:11</td>   <td>13780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSubTaskAdd.AddSubTask(java.util.Hashtable)[pri:1, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@724af044]">AddSubTask</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>17/09/01 17:43:22</td>   <td>24574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSubTaskAdd.AddSubTask(java.util.Hashtable)[pri:1, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@724af044]">AddSubTask</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>17/09/01 17:43:28</td>   <td>30726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSubTaskAdd.AddSubTask(java.util.Hashtable)[pri:1, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@724af044]">AddSubTask</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="be83e4">  <td>17/09/01 17:43:38</td>   <td>40703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditSubTask.EditSubTasks()[pri:3, instance:com.testing.avenuecode.testcases.EditSubTask@cb5822]">EditSubTasks</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>17/09/01 17:43:37</td>   <td>39451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSubTaskAdd.VerifyManageSubTasksButton()[pri:2, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@724af044]">VerifyManageSubTasksButton</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/09/01 17:43:41</td>   <td>44004</td> <td title="&lt;&lt;BaseTest.close()[pri:0, instance:com.testing.avenuecode.testcases.EditSubTask@cb5822]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/09/01 17:42:43</td>   <td>-13807</td> <td title="&gt;&gt;BaseTest.login()[pri:0, instance:com.testing.avenuecode.testcases.EditSubTask@cb5822]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@892529689</td>   <td></td> </tr>
</table>
