<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b5a885">  <td>17/09/01 13:53:31</td>   <td>0</td> <td title="&gt;&gt;BaseTest.login()[pri:0, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@5dfcfece]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1182320432</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/01 13:53:43</td>   <td>11764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSubTaskAdd.VerifyManageSubTasksButton()[pri:2, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@5dfcfece]">VerifyManageSubTasksButton</td> 
  <td>main@1182320432</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>17/09/01 13:53:51</td>   <td>20130</td> <td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@5dfcfece]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1182320432</td>   <td></td> </tr>
</table>
