<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AvenueCode Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60af79">  <td>17/09/01 12:25:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSubTaskAdd.AddSubTask(java.util.Hashtable)[pri:1, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@4cc0edeb]">AddSubTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>17/09/01 12:25:00</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSubTaskAdd.AddSubTask(java.util.Hashtable)[pri:1, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@4cc0edeb]">AddSubTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>17/09/01 12:25:00</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSubTaskAdd.AddSubTask(java.util.Hashtable)[pri:1, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@4cc0edeb]">AddSubTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>17/09/01 12:25:00</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSubTaskAdd.AddSubTask(java.util.Hashtable)[pri:1, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@4cc0edeb]">AddSubTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/01 12:24:29</td>   <td>-30850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.AddTask(java.util.Hashtable)[pri:2, instance:com.testing.avenuecode.testcases.AddTaskAddButton@5dfcfece]">AddTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/01 12:24:30</td>   <td>-30025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.AddTask(java.util.Hashtable)[pri:2, instance:com.testing.avenuecode.testcases.AddTaskAddButton@5dfcfece]">AddTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/01 12:24:33</td>   <td>-26753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.AddTask(java.util.Hashtable)[pri:2, instance:com.testing.avenuecode.testcases.AddTaskAddButton@5dfcfece]">AddTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/01 12:24:35</td>   <td>-25381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.AddTask(java.util.Hashtable)[pri:2, instance:com.testing.avenuecode.testcases.AddTaskAddButton@5dfcfece]">AddTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/01 12:24:39</td>   <td>-21477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.AddTask(java.util.Hashtable)[pri:2, instance:com.testing.avenuecode.testcases.AddTaskAddButton@5dfcfece]">AddTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/09/01 12:24:44</td>   <td>-16479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskEnter.CreateTaskEnter(java.util.Hashtable)[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@20e2cbe0]">CreateTaskEnter</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/09/01 12:24:47</td>   <td>-13172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskEnter.CreateTaskEnter(java.util.Hashtable)[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@20e2cbe0]">CreateTaskEnter</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/09/01 12:24:51</td>   <td>-9521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskEnter.CreateTaskEnter(java.util.Hashtable)[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@20e2cbe0]">CreateTaskEnter</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/09/01 12:24:55</td>   <td>-5393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskEnter.CreateTaskEnter(java.util.Hashtable)[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@20e2cbe0]">CreateTaskEnter</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/09/01 12:24:59</td>   <td>-1248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskEnter.CreateTaskEnter(java.util.Hashtable)[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@20e2cbe0]">CreateTaskEnter</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>17/09/01 12:25:01</td>   <td>433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditSubTask.EditSubTasks()[pri:0, instance:com.testing.avenuecode.testcases.EditSubTask@c038203]">EditSubTasks</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>17/09/01 12:25:00</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSubTaskAdd.VerifyManageSubTasksButton()[pri:2, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@4cc0edeb]">VerifyManageSubTasksButton</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>17/09/01 12:24:16</td>   <td>-43764</td> <td title="&gt;&gt;BaseTest.login()[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@20e2cbe0]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>17/09/01 12:25:00</td>   <td>-15</td> <td>&nbsp;</td><td title="&gt;&gt;AddSubTaskAdd.login()[pri:0, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@4cc0edeb]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>17/09/01 12:25:01</td>   <td>432</td> <td>&nbsp;</td><td title="&gt;&gt;EditSubTask.login()[pri:0, instance:com.testing.avenuecode.testcases.EditSubTask@c038203]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>17/09/01 12:25:01</td>   <td>596</td> <td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@20e2cbe0]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/01 12:24:27</td>   <td>-32734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.verifyPageText()[pri:1, instance:com.testing.avenuecode.testcases.AddTaskAddButton@5dfcfece]">verifyPageText</td> 
  <td>main@695682681</td>   <td></td> </tr>
</table>
