<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AvenueCode Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b5a885">  <td>17/09/01 12:24:16</td>   <td>0</td> <td title="&gt;&gt;BaseTest.login()[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@20e2cbe0]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/01 12:24:27</td>   <td>11030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.verifyPageText()[pri:1, instance:com.testing.avenuecode.testcases.AddTaskAddButton@5dfcfece]">verifyPageText</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/01 12:24:29</td>   <td>12914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.AddTask(java.util.Hashtable)[pri:2, instance:com.testing.avenuecode.testcases.AddTaskAddButton@5dfcfece]">AddTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/01 12:24:30</td>   <td>13739</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.AddTask(java.util.Hashtable)[pri:2, instance:com.testing.avenuecode.testcases.AddTaskAddButton@5dfcfece]">AddTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/01 12:24:33</td>   <td>17011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.AddTask(java.util.Hashtable)[pri:2, instance:com.testing.avenuecode.testcases.AddTaskAddButton@5dfcfece]">AddTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/01 12:24:35</td>   <td>18383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.AddTask(java.util.Hashtable)[pri:2, instance:com.testing.avenuecode.testcases.AddTaskAddButton@5dfcfece]">AddTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/01 12:24:39</td>   <td>22287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.AddTask(java.util.Hashtable)[pri:2, instance:com.testing.avenuecode.testcases.AddTaskAddButton@5dfcfece]">AddTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/09/01 12:24:44</td>   <td>27285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskEnter.CreateTaskEnter(java.util.Hashtable)[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@20e2cbe0]">CreateTaskEnter</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/09/01 12:24:47</td>   <td>30592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskEnter.CreateTaskEnter(java.util.Hashtable)[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@20e2cbe0]">CreateTaskEnter</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/09/01 12:24:51</td>   <td>34243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskEnter.CreateTaskEnter(java.util.Hashtable)[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@20e2cbe0]">CreateTaskEnter</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/09/01 12:24:55</td>   <td>38371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskEnter.CreateTaskEnter(java.util.Hashtable)[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@20e2cbe0]">CreateTaskEnter</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/09/01 12:24:59</td>   <td>42516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskEnter.CreateTaskEnter(java.util.Hashtable)[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@20e2cbe0]">CreateTaskEnter</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>17/09/01 12:25:00</td>   <td>43749</td> <td>&nbsp;</td><td title="&gt;&gt;AddSubTaskAdd.login()[pri:0, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@4cc0edeb]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>17/09/01 12:25:00</td>   <td>43764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSubTaskAdd.AddSubTask(java.util.Hashtable)[pri:1, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@4cc0edeb]">AddSubTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>17/09/01 12:25:00</td>   <td>43768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSubTaskAdd.AddSubTask(java.util.Hashtable)[pri:1, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@4cc0edeb]">AddSubTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>17/09/01 12:25:00</td>   <td>43770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSubTaskAdd.AddSubTask(java.util.Hashtable)[pri:1, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@4cc0edeb]">AddSubTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>17/09/01 12:25:00</td>   <td>43780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSubTaskAdd.AddSubTask(java.util.Hashtable)[pri:1, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@4cc0edeb]">AddSubTask</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>17/09/01 12:25:00</td>   <td>43783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSubTaskAdd.VerifyManageSubTasksButton()[pri:2, instance:com.testing.avenuecode.testcases.AddSubTaskAdd@4cc0edeb]">VerifyManageSubTasksButton</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>17/09/01 12:25:01</td>   <td>44196</td> <td>&nbsp;</td><td title="&gt;&gt;EditSubTask.login()[pri:0, instance:com.testing.avenuecode.testcases.EditSubTask@c038203]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>17/09/01 12:25:01</td>   <td>44197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditSubTask.EditSubTasks()[pri:0, instance:com.testing.avenuecode.testcases.EditSubTask@c038203]">EditSubTasks</td> 
  <td>main@695682681</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>17/09/01 12:25:01</td>   <td>44360</td> <td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@20e2cbe0]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@695682681</td>   <td></td> </tr>
</table>
