<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Add_Task</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7f5ae">  <td>17/09/01 17:41:42</td>   <td>0</td> <td title="&gt;&gt;BaseTest.login()[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@482f8f11]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>17/09/01 17:42:00</td>   <td>18500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.verifyPageText()[pri:1, instance:com.testing.avenuecode.testcases.AddTaskAddButton@3a82f6ef]">verifyPageText</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>17/09/01 17:42:01</td>   <td>19407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.AddTask(java.util.Hashtable)[pri:2, instance:com.testing.avenuecode.testcases.AddTaskAddButton@3a82f6ef]">AddTask</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>17/09/01 17:42:03</td>   <td>21471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.AddTask(java.util.Hashtable)[pri:2, instance:com.testing.avenuecode.testcases.AddTaskAddButton@3a82f6ef]">AddTask</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>17/09/01 17:42:08</td>   <td>26485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.AddTask(java.util.Hashtable)[pri:2, instance:com.testing.avenuecode.testcases.AddTaskAddButton@3a82f6ef]">AddTask</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>17/09/01 17:42:10</td>   <td>28296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.AddTask(java.util.Hashtable)[pri:2, instance:com.testing.avenuecode.testcases.AddTaskAddButton@3a82f6ef]">AddTask</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>17/09/01 17:42:16</td>   <td>34219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskAddButton.AddTask(java.util.Hashtable)[pri:2, instance:com.testing.avenuecode.testcases.AddTaskAddButton@3a82f6ef]">AddTask</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="b6bec2">  <td>17/09/01 17:42:21</td>   <td>39051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskEnter.CreateTaskEnter(java.util.Hashtable)[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@482f8f11]">CreateTaskEnter</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="b6bec2">  <td>17/09/01 17:42:23</td>   <td>41766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskEnter.CreateTaskEnter(java.util.Hashtable)[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@482f8f11]">CreateTaskEnter</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="b6bec2">  <td>17/09/01 17:42:26</td>   <td>44542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskEnter.CreateTaskEnter(java.util.Hashtable)[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@482f8f11]">CreateTaskEnter</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="b6bec2">  <td>17/09/01 17:42:31</td>   <td>49186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskEnter.CreateTaskEnter(java.util.Hashtable)[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@482f8f11]">CreateTaskEnter</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="b6bec2">  <td>17/09/01 17:42:40</td>   <td>58109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTaskEnter.CreateTaskEnter(java.util.Hashtable)[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@482f8f11]">CreateTaskEnter</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/09/01 17:42:43</td>   <td>61068</td> <td title="&lt;&lt;BaseTest.close()[pri:0, instance:com.testing.avenuecode.testcases.AddTaskEnter@482f8f11]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@892529689</td>   <td></td> </tr>
</table>
